$sfeir-blue: (
  50: #e5ebf1,
  100: #beccdd,
  200: #93abc6,
  300: #6889af,
  400: #476f9d,
  500: #27568c,
  600: #234f84,
  700: #1d4579,
  800: #173c6f,
  900: #0e2b5c,
  A100: #91b6ff,
  A200: #5e95ff,
  A400: #2b73ff,
  A700: #1262ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$sfeir-orange: (
  50: #fceae3,
  100: #f8cbb8,
  200: #f3a889,
  300: #ee8559,
  400: #ea6a36,
  500: #e65012,
  600: #e34910,
  700: #df400d,
  800: #db370a,
  900: #d52705,
  A100: #fffefd,
  A200: #ffd1ca,
  A400: #ffa397,
  A700: #ff8d7e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
